<main role="main" class="content__section content__section--seventy">
    <div class="xrx-margin-10">
        <a id="maincontent" tabindex="-1"></a>
        <h1 class="h2">Users</h1>
        <div class="m--top editlogin-content sc-box-style">
             
            <form id="form-editlogin" name="form-editlogin" class="form form--basic form--compact" novalidate="">
                 <table border="0" class= "table table--striped table--header table--bordered  table--sc-transactions" >
                    
                        <thead>
                          <th scope="col"> User ID<br/> <br/> <input id="form-edit-firstName" name="form-edit-firstName" type="text"></th>
                          <th scope="col"> User Name <br/> <br/> <input id="form-edit-firstName" name="form-edit-firstName" type="text"></th>
                          <th scope="col"> User Template <br/> <br/> <input id="form-edit-firstName" name="form-edit-firstName" type="text"></th>
                          <th scope="col"> Email <br/> <br/> <input id="form-edit-firstName" name="form-edit-firstName" type="text"></th>
                          <th scope="col"> Phone<br/> <br/> <input id="form-edit-firstName" name="form-edit-firstName" type="text"></th>
                          <th scope="col"> Status<br/> <br/> <input id="form-edit-firstName" name="form-edit-firstName" type="text"></th>   
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#"> 282</a></td>
                            <td> a@rp.com </td>
                            <td > CMS  </td>
                            <td > a@rp.com </td>
                            <td > 4923409324 </td>
                            <td > Active </td>
                            
                          </tr> 
                           <tr>
                            <td><a href="#"> 282</a></td>
                            <td> a@rp.com </td>
                            <td > CMS  </td>
                            <td > a@rp.com </td>
                            <td > 4923409324 </td>
                            <td > Active </td>
                            
                          </tr> 
                           <tr>
                            <td><a href="#"> 282</a></td>
                            <td> a@rp.com </td>
                            <td > CMS  </td>
                            <td > a@rp.com </td>
                            <td > 4923409324 </td>
                            <td > Active </td>
                            
                          </tr> 
                           <tr>
                            <td><a href="#"> 282</a></td>
                            <td> a@rp.com </td>
                            <td > CMS  </td>
                            <td > a@rp.com </td>
                            <td > 4923409324 </td>
                            <td > Active </td>
                            
                          </tr>                       
                          
                        </tbody>
                  </table> 
                  <div class="pagination pagination-centered" style="margin-left:350px;">
                <ul class="pagination-list" role="toolbar" aria-controls="order-history">
                <li class="disabled"><a href="javascript:void(0)"><i class="pagination-i pagination-i-first"><span>First</span><span> Disabled</span></i></a></li>
                <li class="disabled"><a href="javascript:void(0)"><i class="pagination-i pagination-i-previous"><span>Previous</span><span> Disabled</span></i></a></li>
                <li class="active"><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">4</a></li>
                <li><a href="javascript:void(0)"><i class="pagination-i pagination-i-next"><span>Next</span></i></a></li>
                <li><a href="javascript:void(0)"><i class="pagination-i pagination-i-last"><span>Last</span></i></a></li>
                <li>  &nbsp; &nbsp;<label for="form-history-limitSelect">Show:</label>
               <select id="form-history-limitSelect" name="form-history-limitSelect">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> </li>
            </ul>
            
        </div> 
            </form>
        </div>
    </div>
</main>
