<main role="main" class="content__section content__section--seventy">
    <div class="xrx-margin-10">
        <a id="maincontent" tabindex="-1"></a>

        <h1 id="register-user-title" class="h3">Account Settings</h1>

        <div class="content__block">
                <div class="content__section content__section--full">
                    <!--<h2 class="h3">Users</h2>-->
                    <form id="form-order-history" name="form-order-history" class="form form--basic form--compact p--all mobile__no-sides sc-box-style" aria-controls="order-history" novalidate="">
                        <h3 id="register-user-title" class="h3">User Settings</h3>
                        <div class="form__set">
                            <i class="required-note "><span class="hide ">red asterisk</span> denotes a required field</i>
                        </div>

                <div class="form__set">
                    <label for="form-order-historyID" class="form__label">User Name <i class="form__required">required</i></label>
                    <label for="form-edit-lastName">abc@njt.com</label>
                </div>

                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">Change Password<i class="form__required">required</i></label>
                    <input id="form-edit-lastName" name="form-edit-lastName" class="checkbox" type="checkbox" checked="true">
                </div>
                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">User Current Password<i class="form__required">required</i></label>
                    <input id="form-edit-lastName" name="form-edit-lastName" class="form__input" type="text" aria-required="true" required="">
                </div>
                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">New Password<i class="form__required">required</i></label>
                    <input id="form-edit-lastName" name="form-edit-lastName" class="form__input" type="text" aria-required="true" required="">
                </div>
                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">Re-Enter New Password<i class="form__required">required</i></label>
                    <input id="form-edit-lastName" name="form-edit-lastName" class="form__input" type="text" aria-required="true" required="">
                </div>
                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">Change Security Question<i class="form__required">required</i></label>
                    <input id="form-edit-lastName" name="form-edit-lastName" class="checkbox" type="checkbox" checked="true">
                </div>
                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">Security Question<i class="form__required">required</i></label>
                    <select id="form-select-1" name="form-select" class="form__input select">
                        <option value="1" checked>Please Select a Question</option>
                        <option value="2">In What city were you born?</option>
                        <option value="3">What is your first child's name?</option>
                        <option value="4">What is your favorite pet's name?</option>
                        <option value="5">What is your mother's maiden name?</option>
                        <option value="6">What street did you grow up on?</option>
                    </select>
                </div>
                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">Security Answer<i class="form__required">required</i></label>
                    <input id="form-edit-lastName" name="form-edit-lastName" class="form__input" type="text" aria-required="true" required="">
                </div>
                        <input type="submit" class="btn btn--primary m--top btn--full" name="form-order-historySearch" ng-click="updateUsers();" value="Update User">
                    </form>
                    
                </div>
            </div>
    </div>
</main>