<footer class="footer sc-footer">
    <div class="footer__primary">
        <div class="footer__container">
            <div class="content--grid">
                <div class="content__block">
                    <div class="content__section content__section--thirty footer__nav">
                        <h3>Customer Care</h3>
                        <ul>
                            <li class="rtd-phone-number customer-link"><a href="tel:+9732996000">973.299.6000</a></li>
                            <li><a>(tdd) 973.299.6089</a></li>
                            <li class="rtd-languages">Languages: <a title="English">EN</a> <a title="Spanish" href="spanish.html">ES</a> <a title="Polish">PL</a> <a title="Mandarin" href="mandarin.html">Zh</a> </li>
                        </ul>
                        <a class="rtd-link" href="http://www.njtransit.com" target="_blank">Visit njtransit.com</a>

                    </div>
                    <div class="content__section content__section--seventy footer__description">
                        <div class="sc-margin">
                            <p> Space for having Additional/third party Links</p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="footer__secondary" role="contentinfo">
        <div class="footer__container">
            <div class="footer__sitelinks">
                <ul>
                   <li><a href="http://www.njtransit.com/tm/tm_servlet.srv?hdnPageAction=CopyrightTo">terms and conditions and privacy policy</a></li>                   
                </ul>
            </div>
            <p class="footer__copywrite" style="float: right;">
              © 2016 NJ TRANSIT. ALL RIGHTS RESERVED. 
            </p>
<!--             <div class="footer__safety">

            </div> -->
        </div>
    </div>
</footer>