<main role="main" class="content__section content__section--seventy">
    <div class="xrx-margin-10">
        <a id="maincontent" tabindex="-1"></a>

        <h1 class="h2">Forgot Password</h1>

        <div class="content--grid m--top">
            <div class="content__block">
                <div class="content__section content__section--sixty">
                    <form class="form form--basic box--default" id="form--forgotpasswordStep1" action="">
                        <label for="form--forgotpasswordEmail" class="form__label m--bottom">Please enter your email address</label>
                        <input type="text" id="form--forgotpasswordEmail" name="form--forgotpasswordEmail" class="form__input" aria-required="true" required="">
                        <a class="btn btn--primary btn--proceed btn--mobile-block m--top" ui-sref="login.securityQuestions"> Continue </a>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</main>
  