  <div>
    <div uib-carousel active="0" interval="5000" no-wrap="false">
      <div uib-slide index="0">
        <img src="resources/images/NJTrail.PNG" alt="">
        <div class="carousel-caption" style="font-size: large;"> Fares depend upon many factors (distance traveled, type of ticket purchased, type of transportation utilized, date and/or time of day traveled etc...)

For specific trip fares check the schedule and specific route information.

NJ TRANSIT offers reduced fares for senior citizens and people with disabilities. </div>
      </div>
            <div uib-slide index="1">
               <img src="resources/images/NJTLightrail.PNG" alt="">
        <div class="carousel-caption" style="font-size: large;">  Light Rail Monthly passes submitted before the start of the validity period will be refunded at the purchase price. Monthly passes submitted after the start of the validity period will have two full one-way fares deducted from the purchase price for each business day from the start of the validity period to the date of the refund request. </div>
      </div>
            <div uib-slide index="2">
        <img src="resources/images/NJTBus.PNG" alt="">
        <div class="carousel-caption" style="font-size: large;"> If you use more than one bus to reach your destination, you don't need to purchase a transfer if you have a bus pass. When you make your connection, just show your pass to the driver and you can travel up to the number of zones on the pass.</div>
      </div>
      <div uib-slide index="3">
        <img src="resources/images/mytix.PNG" alt="">
        <div class="carousel-caption" style="font-size: large;"> Use MyTix to purchase monthly passes for NJ TRANSIT rail lines, bus routes and light rail lines, plus one-way and round-trip rail tickets for all rail lines and one-way interstate tickets for select bus routes. MyTix is also available for travel to Meadowlands Rail Station (event days only) and will be updated to include more NJ TRANSIT service and ticket types. Download or update the app for the latest features. </div>

        </div>
        <div uib-slide index="4">
          <img src="resources/images/student_pass.PNG" alt="">
          <div class="carousel-caption" style="font-size: large;"> 
            Full-time college students can save 25 percent on NJ TRANSIT Monthly Passes when their school participates in our University Partnership Program. Getting the discount is simple. Enroll through the participating college's website in our Quik-Tik online pass program for a monthly rail, bus, or light rail pass. The colleges listed are already partners in the program:

          </div>
        </div>
                <div uib-slide index="5">
          <img src="resources/images/group_sales.PNG" alt="">
            </div>
      </div>
    </div>
  </div>
