<div class="xrx-margin-10">
    <div class="content--grid">
        <div class="content__block" style="height: 350px;">
            <div uib-carousel active="0" interval="5000" no-wrap="false" style="position: relative;
    height: 100%;
    overflow: hidden">
                <div uib-slide index="0">
                    <img style="height : 350px;" src="http://www.njtransit.com/images-uploads/HLS_Marquee.jpg" alt="">
                </div>
                <div uib-slide index="1">
                    <img style="height : 350px" src="http://www.njtransit.com/images-uploads/TTF-Marquee-2016.jpg" alt="">
                </div>
                <div uib-slide index="2">
                    <img style="height : 350px" src="http://www.njtransit.com/images-uploads/Meadowlands_Rail_Marquee.jpg" alt="">
                </div>
                <div uib-slide index="3">
                    <img style="height : 350px" src="http://www.njtransit.com/images-uploads/Student Pass 2015 Marquee.jpg" alt="">
                </div>                
            </div>    
        </div>
    </div>
</div>
