<div> 
	<div style="float: right; margin-right: 7%;"> Welcome <strong>  {{loginUser.lastName}} , {{loginUser.firstName}}</strong></div>

	<!-- <div ng-if="selectedUser.userID && subscribe !== 'fail'" tabindex="-1" class="alert alert--info alert--dismissible message-container-notification" role="alert" style="    background-color: #fff;">
        <button type="button" class="alert__close js-close"
          ng-click="message = '';">
  		    <span aria-hidden="true">×</span>
            <span class="hide" ng-click="subscribe = 'fail';">Close</span>
 	    </button>
      <p> You are managing the Account of <strong> {{selectedUser.userID}} </strong> </p>
    </div> -->
</div>