<main role="main" class="content__section content__section--seventy-five"  ng-controller="chartController"  ng-init="loadColumnCharts();">
    <div class="xrx-margin-10">
        <a id="maincontent" tabindex="-1"></a>
        <h1 class="h2">TVMs</h1>
        <div class="content--grid">
            <div class="content__block sc-box-style">
                <h5 class="text-center no-margin"><strong>  TVM Not Checked in Top: </strong>
                    <select> 
                        <option> 15 TVMs </option>
                        <option> 20 TVMs </option>
                        <option> 30 TVMs </option>
                        <option> 50 TVMs </option>
                    </select> 
                </h5>
                <div ui-grid="topTenUncheckedGridOptions" class="chartStyles"></div>
            </div>
        </div>
    </div>
</main>