<main role="main" class="content__section content__section--seventy">
    <div class="xrx-margin-10">
        <a id="maincontent" tabindex="-1"></a>

        <h1 class="h2">Order Confirmation</h1>
        <div class="print-dialog print-dialog--right no-print">
            <a onclick="window.print()" href="#"><i class="i--print"></i><span>Print</span></a>
        </div>

        <p class="h4 m--bottom">Thank you for your purchase!</p>
        <p><strong>Your order ID: <span class="cart-order-number">1183618</span></strong></p>
        <p class="font-smaller no-print">Your order summary is below. Please print for your reference.</p>
        <div class="sc-box-style cart-product-container cart-product-container--compact m--top">
            <h2 class="hide">Order Summary</h2>
            <ul class="cart-products">
                <li class="cart-product">
                    <div class="content--grid">
                        <div class="content__block">
                            <div class="content__section content__section--eighty">
                                <img src="resources/images/mytix.jpg" alt="Full Fare" height="30" border="0" class="cart-card-img">
                                <div class="cart-card-name">Monthly Pass Adult - October 2016</div>
                                <div class="cart-sub-product">Fare <span class="cart-sub-product-price">$399.00</span></div>
                            </div>
                            <div class="content__section content__section--twenty cart-product-price">$399.00</div>
                        </div>
                    </div>
                </li>
                <li class="cart-product">
                    <div class="content--grid">
                        <div class="content__block">
                            <div class="content__section content__section--eighty">
                                <img src="resources/images/mytix.jpg" alt="Discount" height="30" border="0" class="cart-card-img">
                                <div class="cart-card-name">Two way Adult</div>
                                <div class="cart-sub-product">Fare <span class="cart-sub-product-price">$11.00</span></div>
                            </div>
                            <div class="content__section content__section--twenty cart-product-price">$11.00</div>
                        </div>
                    </div>
                </li>
                <li class="cart-product">
                    <div class="content--grid">
                        <div class="content__block">
                            <div class="content__section content__section--eighty">
                                <img src="resources/images/mytix.jpg" alt="Full Fare" height="30" border="0" class="cart-card-img">
                                <div class="cart-card-name">One Way Adult</div>
                                <div class="cart-sub-product">Fare <span class="cart-sub-product-price">$5.00</span></div>
                            </div>
                            <div class="content__section content__section--twenty cart-product-price">$5.00</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="sc-box-style">
            <table class="table table--small mobile__font-smaller" summary="Order costs and fees summary">
                <tbody>
                    <tr>
                        <td><strong>Subtotal :</strong></td>
                        <td>$415.00</td>
                    </tr>
                    <tr>
                        <td><strong>Promotion :</strong> <span class="promo-desc">NJT-15</span></td>
                        <td>- $15.00</td>
                    </tr>
                    <tr>
                        <td><strong>Total :</strong></td>
                        <td>$400.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 class="m--top">Your order will be shipped to</h3>
        <div class="sc-box-style font-smaller m--top">
            <div>Brain Adam</div>
            <div>68 Veronica Ave</div>
            <div>Somerset, NJ 08873</div>
        </div>
        <h3 class="m--top">Payment Information</h3>
        <div class="table-responsive m--top">
            <table class="table table--header table--bordered  table--payment-info" summary="Pyment information">
                <tbody>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Card Number</th>
                    </tr>
                    <tr>
                        <td>$415.00</td>
                        <td><i class="i--payment i--payment-visa"></i>Visa</td>
                        <td>(XXXX-XXXX-XXXX-1881)</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div style="text-align: center;">
        <a class="btn btn--primary btn--proceed btn--mobile-block m--top spacer-bottom no-print" ui-sref="welcome.meadowLandsTicketing">Continue Shopping</a>
        </div>
    </div>
</main>