<div>
  <div ui-grid="paymentTransactionsGridOptions" ui-grid-auto-resize style="max-height:250px;"> </div>
</div>

<!--  <div class="order-details" id="transaction-details">
      <div class="cart-sub-product">           
        <p><strong>Terminal Number <span class="cart-order-number">3001</span></strong></p> 
      </div>
      
      <div class="sc-box-style cart-product-container cart-product-container--compact m--top">
        <ul class="cart-products">
          <li class="cart-product">
            <div class="content--grid">
              <div class="content__block">
                <div class="content__section content__section--eighty">              
                  <div class="cart-sub-product">
                   Transaction Number <span class="cart-sub-product-price"><strong>126407 </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Payment Amount <span class="cart-sub-product-price"><strong> $16.25 </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Payment Abb3 <span class="cart-sub-product-price"><strong> CVI </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Payment Number <span class="cart-sub-product-price"><strong> 1 </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Credit Card Number <span class="cart-sub-product-price"><strong> 411111XXXXXX1111 </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Auth Code <span class="cart-sub-product-price"><strong> 123456 </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Retrival Reference Number <span class="cart-sub-product-price"><strong> 027-0391054244 </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    TFS Reference Code <span class="cart-sub-product-price"><strong> 0 </strong></span>
                  </div>                  
                </div>
                <div class="content__section content__section--twenty cart-product-price">$399.00</div> 
              </div>
            </div>
          </li>
        </ul>
      </div>
    
 -->