<div>
	<div ui-grid="ticketTransactionsGridOptions" ui-grid-auto-resize style="max-height:250px;"> </div>
</div>


<!--  <div class="order-details" id="transaction-details">
    <div class="content--grid">
        <div class="content__block">
	        <div class="content__section content__section--eighty">
	       		<h6> Sequence ID <span class="cart-order-number">245450</span> </h6>
			</div>
			<div class="content__section content__section--twenty"> 
				<button tabindex="0" class="btn btn--primary btn--small m--top btn--mobile-block"> Deactivate </button>
	      	</div>
  		</div>
  	</div>

      <div class="sc-box-style cart-product-container cart-product-container--compact m--top">
        <ul class="cart-products">
          <li class="cart-product">
            <div class="content--grid">
              <div class="content__block">
                <div class="content__section content__section--eighty">
                  <span style="display: flex;">
                    <span class="badge badge--info-note" >                         
                          Ticket Type : 11001 - One Way
                    </span>                    
                  </span>                  
                  <div class="cart-sub-product">
                   Origin <span class="cart-sub-product-price"><strong> 370 - ANNANDALE </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Destination <span class="cart-sub-product-price"><strong> 563 - DENVILLE </strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Activation Date <span class="cart-sub-product-price"><strong> 2016-10-03 10:59:45.0</strong></span>
                  </div>
                  <div class="cart-sub-product">
                    Deactivation Date <span class="cart-sub-product-price"><strong> 2016-10-03 13:44:45.0 </strong></span>
                  </div>
                </div>
                <div class="content__section content__section--twenty cart-product-price">$ 16.25</div> 
              </div>
            </div>
          </li>
        </ul>
      </div>
    
    </div> -->
