<main role="main" class="content__section content__section--seventy">
    <div class="xrx-margin-10">
        <a id="maincontent" tabindex="-1"></a>
        <h1 class="h2">Create Alert</h1>
        <div class="m--top editlogin-content sc-box-style">
            <form id="form-editlogin" name="form-editlogin" class="form form--basic form--compact" novalidate="">
                <div class="form__set">
                 <i class="required-note "><span class="hide ">red asterisk</span> denotes a required field</i>
             </div>
                <div class="form__set">
                    <label for="form-edit-firstName" class="form__label">Category <i class="form__required">required</i></label>
                    <select id="form-select-1" name="form-select" class="form__input select">
                        <option value="1" checked>Select Category</option>
                        <option value="2">MyTix</option>
                    </select>
                </div>

                <div class="form__set">
                    <label for="form-edit-lastName" class="form__label">Notification Title<i class="form__required">required</i></label>
                    <input id="form-edit-lastName" name="form-edit-lastName" class="form__input" type="text" aria-required="true" required="">
                </div>

                <div class="form__set">
                    <label for="form-editloginEmail" class="form__label">Notification Message <i class="form__required">required</i></label>
                     <textarea id="form-textarea" name="form-textarea" class="form__input" aria-required="true" required></textarea>
                </div>                   
                <div style="text-align: left;">
                <input class="btn btn--primary btn--small m--top editlogin btn--mobile-block" name="save" value="Create Alert" ng-click="">              
                </div>
                <div>
                <p class="notes" id="create-note"> NOTE : A-Z a-z 0-9 , . - : @ characters are only allowed. </p></div>
            </form>
        </div>
    </div>
</main>