<div>
   <div class="content--grid">
    <div class="content__block">
                <div class="content__section content__section--full">
    <form id="form-order-history" name="form-order-history" class="form form--basic form--compact mobile__no-sides" aria-controls="order-history" novalidate="">
      <legend>Search</legend>
         <div class="m--top editlogin-content sc-box-style">
            
            <div class="form__set">
               <label for="form-order-historyID" class="form__label" style="width: 20%;">Email ID<i class="form__required">required</i></label>
               <input id="form-order-historyID" name="form-order-historyID" class="form__input" style="margin-top: 6px;" type="text">
               <button tabindex="0" class="btn btn--primary btn--small btn--mobile-block" style="margin: 0px;"> Search </button>
             </div>
           </div>
       
    </form>
  </div>
</div>
  </div>
    <br/>
    <div class="export-options export-options--right">
        <span>Export:</span>
        <!--<a href="#"><img src="resources/images/icon-file-xls.png" alt="Export XLS" border="0"></a>-->
        <a href="#"><img src="resources/images/icon-file-csv.png" alt="Export CSV" border="0"></a>
    </div>
    <!--<p class="font-smaller">Results 10 of 40</p>-->
    <br/>
    <div ui-grid="newImportGridOptions" style="max-width : 800px; margin-left:0px;" ui-grid-selection ui-grid-auto-resize></div>

    <div   style="margin-left:350px;" class="pagination pagination-centered">
        <ul class="pagination-list" role="toolbar" aria-controls="order-history">
            <li class="disabled"><a href="javascript:void(0)"><i class="pagination-i pagination-i-first"><span>First</span><span> Disabled</span></i></a></li>
            <li class="disabled"><a href="javascript:void(0)"><i class="pagination-i pagination-i-previous"><span>Previous</span><span> Disabled</span></i></a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)"><i class="pagination-i pagination-i-next"><span>Next</span></i></a></li>
            <li><a href="javascript:void(0)"><i class="pagination-i pagination-i-last"><span>Last</span></i></a></li>
        </ul>
    </div>
    <div class="table-filter table-filter--bottom">
        <form id="form-history-limit" class="form form--compact" aria-controls="order-history" action="">
            <label for="form-history-limitSelect" class="form__label">Show:</label>
            <select id="form-history-limitSelect" name="form-history-limitSelect" class="form__input select">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </form>
    </div>
</div>

 <!--  <script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>

  <uib-accordion close-others="oneAtATime">

    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
      <uib-accordion-heading>
        <i class="glyphicon" ng-class="{'glyphicon-minus': status.isCustomHeaderOpen, 'glyphicon-plus': !status.isCustomHeaderOpen}"></i>
        Search
        
      </uib-accordion-heading>
      <form class="form form--basic form--compact p--all mobile__no-sides" id="form--approvalRequest" action="">
       <div class="form__set">
            <label for="form-order-historyID" class="form__label" style="width: 20%;">Email ID</label>
            <input id="form-order-historyID" name="form-order-historyID" class="form__input" style="margin-top: 6px;" type="text">
            <button tabindex="0" class="btn btn--primary btn--small btn--mobile-block" style="margin: 0px;"> Search </button>
        </div>
      </form>
    </div>
  </uib-accordion> -->
