<div>
    <a href="#" style="float: right;"><i class="fa fa-refresh" aria-hidden="true" style="color: green;"></i></a>
    <h2 class="h3">Pending Import</h2>

    <div class="export-options export-options--right">
        <span>Export:</span>        
        <a href="#" title="Refresh" ><img src="resources/images/icon-file-xls.png" alt="Export XLS" border="0"></a>
        <a href="#"><img src="resources/images/icon-file-csv.png" alt="Export CSV" border="0"></a>
    </div>
    <br/>
    <p class="font-smaller">Results 10 of 40</p>
    <br/>
    <div id="pendingImport"  ui-grid="pendingImportGridOptions" ui-grid-auto-resize></div>

    <div class="pagination pagination-centered">
        <ul class="pagination-list" role="toolbar" aria-controls="order-history">
            <li class="disabled"><a href="javascript:void(0)"><i class="pagination-i pagination-i-first"><span>First</span><span> Disabled</span></i></a></li>
            <li class="disabled"><a href="javascript:void(0)"><i class="pagination-i pagination-i-previous"><span>Previous</span><span> Disabled</span></i></a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)"><i class="pagination-i pagination-i-next"><span>Next</span></i></a></li>
            <li><a href="javascript:void(0)"><i class="pagination-i pagination-i-last"><span>Last</span></i></a></li>
        </ul>
    </div>
    <div class="table-filter table-filter--bottom">
        <form id="form-history-limit" class="form form--compact" aria-controls="order-history" action="">
            <label for="form-history-limitSelect" class="form__label">Show:</label>
            <select id="form-history-limitSelect" name="form-history-limitSelect" class="form__input select">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </form>
    </div>
</div>

