<main role="main" class="content__section content__section--seventy" ng-controller="refundRequestsController">
	<div class="xrx-margin-10">
	    <a id="maincontent" tabindex="-1"></a>
	    <h1 class="h2">Refund Request</h1>		
	    <uib-tabset active="activeJustified">
	        <uib-tab index="0" heading="Pending">
	        	<div class="xrx-margin-10">
					<ng-include src="'partials/views/components/requests/pendingRefunds.html'" > </ng-include> 
				</div>
	        </uib-tab>
	        <uib-tab index="1" heading="History">
	        	<div class="xrx-margin-10">
		        	<ng-include src="'partials/views/components/requests/refundsHistory.html'" > </ng-include>
				</div>
	        </uib-tab>
	    </uib-tabset>
	</div>
</main>