<main role="main" class="content__section content__section--seventy-five">
    <div class="sc-margin">
        <a id="maincontent" tabindex="-1"></a>

        <h1 class="h2">Password Reset</h1>

        <div class="content--grid m--top">
            <div class="content__block">
                <div class="content__section content__section--sixty">
                    <form class="form form--basic box--default" id="form--forgotpasswordStep1" action="">
                        <label for="form-editloginPW" class="form__label">New password <i class="form__required">required</i></label>
                        <input id="form-editloginPW" name="form-editloginPW" class="form__input" type="password" aria-required="true" required="">

                        <label for="form-editloginPW-confirm" class="form__label">Confirm new password <i class="form__required">required</i></label>
                        <input id="form-editloginPW-confirm" name="form-editloginPW-confirm" class="form__input" type="password" aria-required="true" required="">

                        <p class="notes">Note: Password must be at least 8 characters and contain only numbers, letters, or special characters.</p>
                        <a class="btn btn--primary btn--proceed btn--mobile-block m--top js-expander" ui-sref="welcome"> Submit </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>