<div class="content__section content__section--seventy-five">
    <div class="xrx-margin-10">
        <a id="maincontent" tabindex="-1"></a>

        <h1 class="h2">Forgot Password</h1>

        <div class="content--grid m--top">
            <div class="content__block">
                <div class="content__section content__section--eighty">
                    <form class="form form--basic form--compact box--default" id="form--forgotpasswordStep2" action="">
                        <div class="form__set">
                            <label for="form--forgotpasswordQuestion" class="form__label">Security question</label>
                            <select id="form--forgotpasswordQuestion" name="form--forgotpasswordQuestion" class="form__input select">
                                <option value="What is your favorite pet’s name?" selected="selected">What is your favorite pet's name?</option>
                                <option value="What is your mother’s maiden name?">What is your mother's maiden name?</option>
                                <option value="What street did you grow up on?">What street did you grow up on?</option>
                                <option value="In what city were you born?">In what city were you born?</option>
                                <option value="What is your first child’s name?">What is your first child's name?</option>
                            </select>
                        </div>
                        <div class="form__set">
                            <label for="form--forgotpasswordAnswer" class="form__label">Security answer</label>
                            <input id="form--forgotpasswordAnswer" name="form--forgotpasswordAnswer" class="form__input" type="text" aria-required="true" required="">
                        </div>
                        <a class="btn btn--primary btn--proceed btn--mobile-block m--top js-expander" ui-sref="login.resetPassword"> Reset password </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>