<nav role="menu" id="nav-menu" class="nav-sidenav nav-sidenav--default no--print" >
    <div class="w3-card-2 w3-round">
        <div class="w3-accordion w3-white">
            <button ui-sref="welcome" ng-if="loginUser.role === 'reportAdmin' || loginUser.role === 'superAdmin'" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"><i class="fa fa-home" style="color:#2a69a6;" aria-hidden="true"></i> Home </button>

            <button ui-sref="welcome.njtDashboard" ng-if="loginUser.role === 'reportAdmin' || loginUser.role === 'superAdmin'" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"><i class="fa fa-tachometer" style="color:#2a69a6;" aria-hidden="true"></i> NJT DashBoard </button>


             <button ng-if="loginUser.role === 'reportAdmin' || loginUser.role === 'superAdmin'" ng-click="expandMenu('systemManagement')" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"> <i class="fa fa-gears" style="color:#2a69a6;" aria-hidden="true"></i> System Maintainance</button>
            <div ng-if="loginUser.role === 'reportAdmin' || loginUser.role === 'superAdmin'" id="systemManagement" class="w3-accordion-content ">
                <div><a  ng-if="!loginUser.role === 'reportAdmin'" ui-sref="welcome.terminalHealth">Terminal System Health</a> </div> 
                <div><a ng-if="!loginUser.role === 'reportAdmin'" ui-sref="welcome.transactions">Transactions</a> </div> 
                <div style="display: none;"><a ui-sref="welcome.alarms" ng-click="getAllTerminals();">Alarms</a> </div> 
                <div><a ng-if="!loginUser.role === 'reportAdmin'" ui-sref="welcome.machines">Machines Needs Attention</a> </div> 
                <div><a ng-if="!loginUser.role === 'reportAdmin'" ui-sref="welcome.tvms">TVM's Not Checked-in</a> </div> 
                <div><a ng-if="!loginUser.role === 'reportAdmin'" ui-sref="welcome.serviceCalls">Service Calls</a> </div>
                <div><a ng-if="!loginUser.role === 'reportAdmin'" ui-sref="welcome.supportCalender">Support Calender</a> </div>  
                <!-- Logic for diplaying services/stations in Tree Structure -->
                <div class="w3-accordion">
                    <a ng-click="myAccFunc('services');getAllTerminals();" ui-sref="welcome.alarms">
                      Monitoring / Alarms <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="services" class="w3-accordion-content w3-container" >
                        <div ng-repeat="service in services">
                            <a style="color: {{service.colorCode}}" ng-click="getTerminalsByService('service'+$index, service);">{{service.serviceType}} <i class="fa fa-caret-down"></i></a>
                            <div id="service{{$index}}" class="w3-accordion-content w3-container" > 
                                <div ng-repeat="serviceLine in service.serviceLines">
                                    <a style="color: {{serviceLine.colorCode}}" ng-click="getTerminalsByLine(serviceLine.lineName, serviceLine);"> {{serviceLine.lineName}} <i class="fa fa-caret-down"></i></a> 
                                    <div id="{{serviceLine.lineName}}" class="w3-accordion-content w3-container" > 
                                        <div ng-repeat="station in serviceLine.stations">
                                            <a style="color: {{station.colorCode}}"  ng-click="getTerminalsByStation(station.stationName)"> {{station.stationName}} </a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
            <button ng-if="loginUser.role === 'myTixAdmin' || loginUser.role === 'superAdmin'" ng-click="expandMenu('approvalQueues')" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"><i class="fa fa-thumbs-up" style="color:#2a69a6;" aria-hidden="true"></i> Approval Queues</button>
            <div ng-if="loginUser.role === 'myTixAdmin' || loginUser.role === 'superAdmin'" id="approvalQueues" class="w3-accordion-content ">
                <div><a ui-sref="welcome.importRequests">Import Requests</a> </div> 
                <div><a ui-sref="welcome.refundRequests">Refund Requests</a> </div>  
            </div>     
            <button ng-if="loginUser.role === 'userAdmin' || loginUser.role === 'superAdmin'" ng-click="expandMenu('myAccount')" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"><i class="fa fa-users" style="color:#2a69a6;" aria-hidden="true"></i> Manage User Portal </button>
            <div ng-if="loginUser.role === 'userAdmin' || loginUser.role === 'superAdmin'" id="myAccount" class="w3-accordion-content ">
                <div><a ui-sref="welcome.search">Search</a> </div>               
            </div>
            <button ng-if="loginUser.role === 'myTixAdmin' || loginUser.role === 'superAdmin'" ng-click="expandMenu('notifications')" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"><i class="fa fa-bell" style="color:#2a69a6;" aria-hidden="true"></i> Push Notifications</button>
            <div ng-if="loginUser.role === 'myTixAdmin' || loginUser.role === 'superAdmin'" id="notifications" class="w3-accordion-content ">
                <div><a ui-sref="welcome.creteAlert">Create Alert</a> </div> 
                <div><a ui-sref="welcome.scheduleAlert">Schedule Alerts</a> </div>
                <div><a ui-sref="welcome.alertHistory">History</a> </div>
            </div>     
            <button  ng-if="loginUser.role === 'superAdmin'" ng-click="expandMenu('reports')" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"><i class="fa fa-bar-chart" style="color:#2a69a6;" aria-hidden="true"></i> Reports</button>
            <div   ng-if="loginUser.role === 'reportAdmin' || loginUser.role === 'superAdmin'" id="reports" class="w3-accordion-content ">
                <div><a ui-sref="welcome.reports" ng-click="generateReports('Alarm Reports');">Alarm Reports</a> </div> 
                <div><a ui-sref="welcome.reports"  ng-click="generateReports('Cash Reports');">Cash Reports</a> </div>
                <div><a ui-sref="welcome.reports" ng-click="generateReports('Daily Reports');">Daily Reports</a> </div>
                <div><a ui-sref="welcome.reports" ng-click="generateReports('EFT Reports');">EFT Reports</a> </div>
                <div><a ui-sref="welcome.reports" ng-click="generateReports('Mobile Reports');">Mobile Reports</a> </div>
                <div><a ui-sref="welcome.reports" ng-click="generateReports('Revenue Reports');">Revenue Reports</a> </div>
                <div><a ui-sref="welcome.reports" ng-click="generateReports('Sales Reports');">Sales Reports</a> </div>
                <div><a ui-sref="welcome.reports" ng-click="generateReports('Terminal Reports');">Terminal Reports</a> </div>
            </div> 
            <button ng-if="loginUser.role === 'myTixAdmin' || loginUser.role === 'superAdmin'" ng-click="expandMenu('config')" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"><i class="fa fa-wrench" style="color:#2a69a6;" aria-hidden="true"></i> Configuration</button>
            <div id="config" class="w3-accordion-content ">
                <div><a ui-sref="welcome.colorConfig">Color Management</a> </div>                 
            </div>

            <button ng-click="logout();" class="w3-btn-block w3-theme-d1 w3-left-align w3-theme-l1 menuBackGround"> <i class="fa fa-lock" style="color:#2a69a6;" aria-hidden="true"></i>  Sign Out </button>
        </div>
    </div>      
</nav>

