<main role="main" class="content__section content__section--seventy">
<div class="xrx-margin-10">
    <a id="maincontent" tabindex="-1"></a>

    <h1 class="h2">Shopping Cart</h1>

    <div class="sc-box-style cart-product-container">

    <div class="cart-products">
        <div class="cart-product">
            <div class="content--grid">
                <div class="content__block">
                    <div class="content__section content__section--seventy">
                        <div class="cart-card-name"><a>Monthly Pass Adult - October 2016</a></div>
                        <div class="cart-sub-product">Jersey Ave to Hoboken </div>
                        <div class="cart-sub-product">Quantity <span class="cart-sub-product-price">1</span></div>
                        <div class="cart-options">
                            <a class="cart-edit">Edit</a>
                            <a class="cart-delete">Delete</a>
                        </div>
                    </div>
                    <div class="content__section content__section--twenty cart-product-price">$399.00</div>
                </div>
            </div>
        </div><div class="cart-product">
            <div class="content--grid">
                <div class="content__block">
                    <div class="content__section content__section--seventy">
                        <div class="cart-card-name"><a>Two way Adult</a></div>
                        <div class="cart-sub-product">Newark Penn Station to New York Penn Station</div>
                        <div class="cart-sub-product">Quantity <span class="cart-sub-product-price">1</span></div>
                        <div class="cart-options">
                            <a href="javascript:void(0)" class="cart-edit">Edit</a>
                            <a href="javascript:void(0)" class="cart-delete">Delete</a>
                        </div>
                    </div>
                    <div class="content__section content__section--twenty cart-product-price">$11.00</div>
                </div>
            </div>
        </div>
        <div class="cart-product">
            <div class="content--grid">
                <div class="content__block">
                    <div class="content__section content__section--seventy">
                        <div class="cart-card-name"><a>One Way Adult</a></div>
                        <div class="cart-sub-product">Secaucus to Hoboken</div>
                        <div class="cart-sub-product">Quantity <span class="cart-sub-product-price">3</span></div>
                        <div class="cart-options">
                            <a href="javascript:void(0)" class="cart-edit">Edit</a>
                            <a href="javascript:void(0)" class="cart-delete">Delete</a>
                        </div>
                    </div>
                    <div class="content__section content__section--twenty cart-product-price">$33.00</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-footer sc-summary-total"><strong>Subtotal:</strong> <span class="cart-total-price">$413.00</span></div>
</div>

<div class="content--grid">
    <div class="content__block">
        <div class="content__section content__section--sixty">
            <a class="btn btn--primary btn--mobile-block btn--proceed" ui-sref="welcome.shipping">Proceed to checkout</a>
            <a style="display: none;" class="block m--top btn--small-text mobile-center" ui-sref="welcome.meadowLandsTicketing">Purchase new card</a>
            
        </div>
		<div class="content__section content__section--forty t--right no-mobile-margin"> <a class="block btn--small-text mobile-center" href="javascript:void(0)">Clear Shopping Cart</a> </div
        
    </div>
</div>
</div>
</main>