 <div class="order-details" id="user-transaction-details">
      <div class="sc-box-style cart-product-container cart-product-container--compact m--top">
          <ul class="cart-products">
              <li class="cart-product">
                  <div class="content--grid">
                      <div class="content__block">
                          <div class="content__section content__section--eighty">
                              <img src="resources/images/mytix.jpg" alt="card" height="30" border="0" class="cart-card-img">
                              <span style="display: flex;">
                                  <span class="badge badge--info-note" >                         
                                      Monthly Pass adult - October 2016 - Rail
                                  </span>                     
                              </span>                  
                              <div class="cart-sub-product">
                                  Origin <span class="cart-sub-product-price"><strong>New Brunswick </strong></span>
                              </div>
                              <div class="cart-sub-product">
                                  Destination <span class="cart-sub-product-price"><strong> Hoboken </strong></span>
                              </div>
                              <div class="cart-sub-product">
                                  Via <span class="cart-sub-product-price"><strong> Newark Penn station </strong></span>
                              </div>
                              <!-- <div class="cart-sub-product">
                                  <a class="cart-edit" ng-click = "refund1();"><strong>  refund </strong> </a> |
                                  <a class="cart-edit"><strong>  Deactivate a ticket </strong> </a>
                                    <div ng-if="isRefund1" ng-init="refundType = 'standard'" style="text-align: center;"> 
                                    <span class="form__group form__group--inline">
                                      <label class="form__label"><input ng-model="refundType" value="standard" type="radio" name="form-radios-2" aria-required="true" required>Standard Refund</label>
                                      <label class="form__label"><input ng-model="refundType" value="amount" type="radio" name="form-radios-2" >Choose Amount</label>
                                      <input type="text" ng-if="refundType === 'amount'" name="amount"> 
                                        <div class="m--top" style="text-align: center;">
                                            <a class="btn btn--secondary btn--mobile-block mobile__m--top">Update</a>
                                        </div>
                                      </span>      
                                  </div>  
                              </div>   -->
                          </div>
                          <div class="content__section content__section--twenty cart-product-price">$399.00 </div>
                     </div>
                  </div>
              </li>
          </ul>
      </div>

      <div class="sc-box-style cart-product-container cart-product-container--compact m--top">
          <div><i class="i--payment i--payment-visa"></i><strong>Visa &nbsp;(XXXX-XXXX-XXXX-1881)</strong></div>
          <div><strong>Expiration Date: 12/2019</strong></div>
          <div class="m--top"><strong>Billing Address</strong></div>
          <div>Brain Adam</div>
          <div>1600 Blake Street</div>
          <div>Edison, NJ 08816</div>                     
      </div> 
  </div>

  <div style="text-align: center;"> 
      <button tabindex="0" class="btn btn--primary btn--small m--top btn--mobile-block" ng-click="closeThisDialog(0);"> Close </button>
  </div>